*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

.container{
    padding: 0 20px;
    max-width: 1400px;
    margin: 0 auto;
}
body{
    background-color: $main-color;
}